:root {
    --white: #f2f0eb;
    --light-red: #f87e62;
    --red: #e45e41;
    --black: #0d0d0d;
}

html,
body {
    padding: 0;
    margin: 0;
}

.length-container {
    background-color: #f87e62;
    width: 65%;
    border: 4px solid #e45e41;
}
